body {
  margin: 4rem;
}

body > div {
  width: 25rem;
  height: 20rem;
  float: left;
  margin: 0 3rem 8rem 0;
}

body > div img {
  width: 25rem;
  height: 20rem;
  object-fit: contain;
}

body > div p {
  margin-top: 1rem;
}

b {
  letter-spacing: 0.1em;
}
